<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Clonebin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">
    </head>
    <body>
        <div th:fragment="clonebin">
            <div class="container text-left">
                <label th:text="${'Clonebin owner: ' + username}"/>
            </div>
            <br>
            <div th:if="${isOwner && !isFolder}" class="container">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>FOLDER NAME</th>
                            <th>ADDED</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="folder: ${folders}">
                            <td>
                                <a th:text="${folder.name}" th:href="@{'/folder/' + ${folder.id}}"/>
                            </td>
                            <td th:text="${folder.createdAt}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>TITLE</th>
                            <th>ADDED</th>
                            <th>EXPIRES</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="paste: ${pastes}">
                            <td>
                                <a th:text="${paste.title}" th:href="@{'/paste/' + ${paste.id}}"/>
                            </td>
                            <td th:text="${paste.createdAt}"/>
                            <td th:text="${paste.expiresAt}"/>
                            <td>
                                <div th:if="${isOwner}" class="row">
                                    <a th:href="@{'/edit/' + ${paste.id}}" class="btn btn-info" style="width: 75px">Edit</a>
                                    <a th:href="@{'/delete/' + ${paste.id}}" class="btn btn-danger" style="width: 75px">Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>