<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form th:fragment="create_paste(isEdit)" th:action="@{/createOrEditPaste}"
              th:object="${paste}" method="post">
            <div class="container text-left">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}">
                    <textarea class="form-control" rows="15" id="comment" style="" th:field="*{content}"></textarea>
                </div>
            </div>
            <br>
            <div class="container text-left">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="title" th:field="*{title}">
                    </div>
                </div>
            </div>
            <br>
            <div class="container text-left">
                <div class="form-group">
                    <label for="pasteExpirationSelect" class="col-sm-2 control-label">Paste expiration: </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="pasteExpirationSelect" th:field="*{expiringEnum}">
                            <option th:each="period : ${T(com.nsi.clonebin.model.enums.PasteExpiringEnum).values()}" 
                                    th:value="${period}" th:text="${period.getDescription()}"></option>
                        </select>
                    </div>
                    <div class="col-sm-3 checkbox">
                        <label><input type="checkbox" th:field="*{changeExpiresAt}">Update expiration time</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="container text-left" sec:authorize="isAuthenticated()">
                <div class="form-group">
                    <label for="pasteFolderSelect" class="col-sm-2 control-label">Folder: </label>
                    <div class="col-sm-4">
                        <select class="form-control" id="pasteFolderSelect" th:field="*{folderId}">
                            <option th:each="folder : ${foldersList}" th:value="${folder.getId()}" th:text="${folder.getName()}" 
                                    th:selected="${folder.getId()==folderId}"></option>
                        </select>
                    </div>
                </div>

            </div>
            <br>
            <div class="container text-left">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary" th:if= "${isEdit != null && isEdit == 'true'}">Edit Paste</button>
                        <button type="submit" class="btn btn-primary" th:if= "${isEdit == null || isEdit != 'true'}">Create New Paste</button>
                    </div>
                </div>
            </div>

            <br>
            <div class="container" >
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="alert alert-success text-center col-sm-4" th:if="${message}" th:text="${message}"></div>
                    <div class="alert alert-danger text-center col-sm-4" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                </div>
            </div>
        </form>
    </body>
</html>