<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
    <head>
        <meta charset="UTF-8">
        <title>Clonebin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
              crossorigin="anonymous">

    </head>
    <body>
        <div th:replace="fragments/header_fragment :: header"></div>

        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div sec:authorize="isAuthenticated()">
                Welcome <span sec:authentication="principal.username"> User</span>
            </div>
        </div>
        
        <div th:replace="fragments/create_paste_fragment :: create_paste"></div>
    </body>
</html>